# Dependencies
node_modules/

# Build outputs
dist/
build/
.output
.nuxt
.nitro
.data

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Local dev databases
*.db

# Misc
.cache
coverage/
